NEXT_PUBLIC_SUPABASE_URL=https://jouscphvxuaikmiinznm.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_58avTDgciAeQyD-S9Yza1A_jrSMYnHi

# Em desenvolvimento, se omitido, o frontend usa http://localhost:3000
VITE_API_URL=http://localhost:3000

# Em produção, VITE_API_URL deve apontar para a URL pública do backend
# Exemplo:
# VITE_API_URL=https://banco-talentos-eikto-bck.onrender.com